<h3>
  Modifica client
</h3>

<div class = "mat-elevation-z2 p-2 spacingUpDown">
  <form [formGroup] = "form" (ngSubmit) = "onSubmit()">

    <mat-form-field appearance="outline" class="w-100 ">
      <mat-label>Nume</mat-label>
      <input matInput placeholder="Popescu" formControlName = "surname">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Prenume</mat-label>
        <input matInput placeholder="Ion" formControlName = "name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Email</mat-label>
        <input matInput placeholder="johndoe@gmail.com" formControlName = "email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Telefon</mat-label>
        <input matInput placeholder="0712345678" formControlName = "phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <div class = "buttons">
        <button mat-raised-button type="submit" >
          Salveaza
        </button>

        <button mat-raised-button type="reset" >
          Reset
        </button>

        <button  mat-raised-button color="primary" [routerLink] = "'/clients'">
          Inapoi
        </button>
      </div>
  </form>
</div>


