<h3>
  Lista piese service:
</h3>

<div *ngFor="let part of parts" class = "mat-elevation-z2 p-2 my-2 d-flex align-items-center">
  <div>
    <label class="fw-bold">Piesa:</label> {{part.name}}
    <label class="fw-bold">Serie:</label> {{part.partNumber}}
    <label class="fw-bold">Producator:</label> {{part.manufacturer}}
    <label class="fw-bold">Stock:</label> {{part.stock}}
    <label class="fw-bold">Pret:</label> {{part.price}} RON
  </div>
  <div class = "ms-auto">
    <button matt-icon-button [routerLink]="'/parts/edit/' + part._id">
      <mat-icon>edit</mat-icon >
    </button>
    <button matt-icon-button color = "warn" (click)="onDeleteClick(part)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="buttons">
  <button mat-raised-button color = "primary" [routerLink] = "'/parts/create'">
    Adauga
  </button>

  <button mat-raised-button color="primary" [routerLink] = "'/'">
    Inapoi
  </button>
</div>
