<h3>
  Lista clienti:
</h3>

<div *ngFor="let customer of customers" class = "mat-elevation-z2 p-2 my-2 d-flex align-items-center">

  <div>
    <label class = "fw-bold"> Nume: </label> {{customer.surname}}
    <label class = "fw-bold"> Prenume: </label> {{customer.name}}
    <label class = "fw-bold"> Telefon: </label> {{customer.phone}}
    <label class = "fw-bold"> Email: </label> {{customer.email}}
  </div>
  <div class="ms-auto" >
    <button matt-icon-button  [routerLink]="'/clients/edit/' + customer._id">
      <mat-icon>
        edit
      </mat-icon>
    </button>
    <button matt-icon-button [routerLink] = "'/clients/details/' + customer._id">
      <mat-icon>
        visibility
      </mat-icon>
    </button>
    <button matt-icon-button color = "warn" (click)="onDeleteClick(customer)">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>
</div>
<div class="buttons">
  <button mat-raised-button color="primary" [routerLink]="'/clients/create'">
    Adauga client
  </button>
  <button mat-raised-button color = "primary" [routerLink]="'/'">
    Inapoi
  </button>
</div>
