.home-container {
  background-color: rgb(37, 37, 37);
  color: aqua;
  padding: 20px;
  border-radius: 10px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
