<h3>
  Modifica informatia piesei:
</h3>

<div class="mat-elevation-z2 p-2">
  <form [formGroup] = "form" (ngSubmit)="onSubmit()">
    <mat-form-field apperance="outline" class="w-100">
      <mat-label>Denumire</mat-label>
      <input matInput placeholder="motor" formControlName = "name">
    </mat-form-field>

    <mat-form-field apperance="outline" class="w-100">
      <mat-label>Serie piesa</mat-label>
      <input matInput placeholder="z9C300" formControlName = "partNumber">
    </mat-form-field>

    <mat-form-field apperance="outline" class="w-100">
      <mat-label>Nume producator</mat-label>
      <input matInput placeholder="VW" formControlName = "manufacturer">
    </mat-form-field>

    <mat-form-field apperance="outline" class="w-100">
      <mat-label>Stock</mat-label>
      <input matInput placeholder="183" formControlName = "stock">
      <mat-hint>Doar numere!</mat-hint>
    </mat-form-field>

    <mat-form-field apperance="outline" class="w-100">
      <mat-label>Pret</mat-label>
      <input matInput placeholder="300" formControlName = "price">
      <mat-hint>Doar numere!</mat-hint>
    </mat-form-field>

    <div class = "buttons">
    <button mat-raised-button type="submit" color="primary">
      Salveaza
    </button>
    <button mat-raised-button type="reset">
      Reset
    </button>
    <button mat-raised-button color = "primary" [routerLink] = "'/parts'">
      Inapoi
    </button>
  </div>
  </form>
</div>


